{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% block title %}
	profile| پنل کاربری
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
               <div class="col-md-4 pull-right">

                {% render_partial 'user_panel.views.user_profile_component' %}
                   {% if user.avatar_image %}
                       <a class="thumbnail">
                             <img src="{{ user.avatar_image.url }}" style="width: 100%"  alt="">
                         </a>
                   {% endif %}

               </div>
            <div class="col-md-8">
                <form enctype="multipart/form-data" action="{% url 'profile-edit-page' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <button type="submit" class="btn btn-success">ثبت</button>
                </form>
                <p></p>
            </div>
        </div>
    </div>


{% endblock %}