{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load poll_extras %}
{% block title %}
{% load thumbnail %}

{% endblock %}


{% block content %}


<section>
		<div class="container">
			<div class="row">
				
				<div class="col-sm-9">
					<div class="blog-post-area">
						<h2 class="title text-center">{{ article.title }}</h2>
						<div class="single-blog-post">
							<h3>{{ article.title }}</h3>
							<div class="post-meta">
								<ul>
									<li><i class="fa fa-user"></i> {{ article.author }}</li>
									<li><i class="fa fa-clock-o"></i>{{ article.created_time.time }}</li>
									<li><i class="fa fa-calendar"></i> {{ article.created_time.date | show_jalali_date }}</li>
								</ul>
								<span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
								</span>
							</div>
							<a href="">
                                {% thumbnail article.image "862x398" quality=95 crop='center' as im %}
                                        <img src="{{ im.url }}">
                                    {% endthumbnail %}
{#								<img src="{{ article.image.url }}" alt="">#}
							</a>
							<p>{{ article.description }}</p>

							<div class="pager-area">
								<ul class="pager pull-left">
									<li><a href="{% url 'article-detail' pk=article.id %}">قبلی</a></li>
									<li><a href="{% url 'article-detail' pk=article.id %}">بعـدی</a></li>
								</ul>
							</div>
						</div>
					</div><!--/blog-post-area-->

					<div class="rating-area">
						<ul class="ratings">
							<li class="rate-this">به این مطلب امتیـاز دهیـد :</li>
							<li>
								<i class="fa fa-star color"></i>
								<i class="fa fa-star color"></i>
								<i class="fa fa-star color"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</li>
							<li class="color">( 6 نظـر )</li>
						</ul>
						<ul class="tag">
							<li>برچسب :</li>
							<li><a class="color" href="">برچسب 1 <span>/</span></a></li>
							<li><a class="color" href="">برچسب 2 <span>/</span></a></li>
							<li><a class="color" href="">برچسب 3</a></li>
						</ul>
					</div><!--/rating-area-->

					<div class="socials-share">
						<a href=""><img src="/static/images/blog/socials.png" alt=""></a>
					</div><!--/socials-share-->
                    {% if article.author %}
		                <div class="media commnets">
						<a class="pull-right" href="#">
                        {% if article.author.avatar_image  %}
                            {% thumbnail article.author.avatar_image "121x86" quality=95 crop='center' as im %}
                                <img class="media-object" src="{{ im.url }}">
                            {% endthumbnail %}
                            {% else %}
                        	<img class="media-object" src="/static/images/blog/Customer.jpg" alt="">
                        {% endif %}
{#                            {% thumbnail article.author.avatar_image "121x86" quality=95 crop='center' as im %}#}
{#                                <img class="media-object" src="{{ im.url }}">#}
{#                            {% endthumbnail %}#}
{#							<img class="media-object" src="/static/images/blog/Customer.jpg" alt="">#}
						</a>
						<div class="media-body">
							<h4 class="media-heading">{{ article.author.email }}</h4>
							<p>{{ article.author.about_user }}</p>
							<div class="blog-socials">
								<ul>
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-dribbble"></i></a></li>
									<li><a href=""><i class="fa fa-google-plus"></i></a></li>
								</ul>
								<a class="btn btn-primary" href="">سایـر مطالب نویسنده</a>
							</div>
						</div>
					</div><!--Comments-->
                    {% endif %}

					<div class="response-area">
						<h2>نظر ها ({{ comments.count }})</h2>
						<ul class="media-list">
							{% for comment in comments %}
								<li class="media ">

								<a class="pull-right" href="#">
                                    {% if comment.user.avatar_image %}
                                        {% thumbnail comment.user.avatar_image "121x86" quality=95 crop='center' as im %}
                                            <img class="media-object"  src="{{ im.url }}">
                                        {% endthumbnail %}

                                        {% else %}
                                            <img class="media-object" src="/static/images/blog/Customer.jpg" alt="">
                                    {% endif %}

								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>{{ comment.user }}</li>
										<li><i class="fa fa-clock-o"></i>{{ comment.created_time | time }}</li>
										<li><i class="fa fa-calendar"></i> {{ comment.created_time | show_jalali_date }}</li>
									</ul>
									<p>{{ comment.text }}</p>
									<a class="btn btn-primary" href=""><i class="fa fa-reply"></i>پاسـخ</a>
								</div>
							</li>
                                {% for answer in comment.articlecomment_set.all %}
                                	<li class="media second-media">

								<a class="pull-right" href="#">
									   {% if comment.user.avatar_image %}
                                        {% thumbnail answer.user.avatar_image "121x86" quality=95 crop='center' as im %}
                                            <img class="media-object"  src="{{ im.url }}">
                                        {% endthumbnail %}

                                        {% else %}
                                            <img class="media-object" src="/static/images/blog/Customer.jpg" alt="">
                                    {% endif %}
								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>{{ answer.user }}</li>
										<li><i class="fa fa-clock-o"></i>{{ answer.created_time | time }}</li>
										<li><i class="fa fa-calendar"></i> {{ answer.created_time | show_jalali_date }}</li>
									</ul>
									<p>{{ answer.text }}</p>
									<a class="btn btn-primary" href=""><i class="fa fa-reply"></i>پاسـخ</a>
								</div>
							</li>
                                {% endfor %}

							{% endfor %}



						</ul>					
					</div><!--/Response-area-->
					<div class="replay-box">
						<div class="row">
							
							<div class="col-sm-8">
								<div class="text-area">
									<div class="blank-arrow">
										<label>متن پیام</label>
									</div>
									<span>*</span>
									<textarea name="message" rows="11"></textarea>
									<a class="btn btn-primary" href="">ارسـال نظـر</a>
								</div>
							</div>
							<div class="col-sm-4">
								<h2>نظـر خود را بنویسیـد</h2>
								<form>
									<div class="blank-arrow">
										<label>نام</label>
									</div>
									<span>*</span>
									<input type="text" placeholder="نام شما ...">
									<div class="blank-arrow">
										<label>آدرس ایمیـل</label>
									</div>
									<span>*</span>
									<input type="email" placeholder="ایمیـل شما ...">
									<div class="blank-arrow">
										<label>وبسایت</label>
									</div>
									<input type="email" placeholder="آدرس وبسایـت">
								</form>
							</div>
						</div>
					</div><!--/Repaly Box-->
				</div>
				
				<div class="col-sm-3">
					<div class="left-sidebar">
						{% render_partial 'article.views.article_categories_component' %}
					</div>
				</div>
				
			</div>
		</div>
	</section>
{% endblock %}