{% extends 'shared/_layout.html'%}

{% block title %}
	login
{% endblock %}

{% block content %}
	<div class="container">
		<section id="form"><!--form-->
			<div class="row">
				</div>
				<div class="col-sm-6 col-md-offset-3">
					<div class="signup-form"><!--sign up form-->
						<h2>تغییر کلمه عبور</h2>
						<form action="{% url 'reset-pass' user.email_active_code %}" method="post">
                            {% csrf_token %}
{#                            {{ login_form }}#}
                            {{ reset_form.password.label_tag }}
                            {{ reset_form.password }}
                            {{ reset_form.password.errors }}
                            {{ reset_form.confirm_password.label_tag }}
                            {{ reset_form.confirm_password }}
                            {{ reset_form.confirm_password.errors }}
							<button type="submit" class="btn btn-default">ارسال</button>


						</form>
					</div><!--/sign up form-->
				</div>

		</section>
	</div>
{% endblock %}