{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    {% include 'shared/header_reference.html' %}

</head><!--/head-->

<body>
{% render_partial 'home.views.index_header_component' %}
	
{% block content %}{% endblock %}
	
{% render_partial 'home.views.index_footer_component' %}
	
 {% include 'shared/footer_reference.html' %}
  

</body>
</html>